/* google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;800&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #FF7700;
  --error: #A30000;
}
body {
  background: #F7EAC9;
  margin: 0;
  font-family: "Mulish";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #FF7700;
  text-decoration: none;
  font-size: 40px;
  padding: 0px 0x 0px 0px;
  margin-right: 50px;
  font-family: "Dancing Script";
}

header img {
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: 45px;
}

header span {
  margin: 10px;
  font-size: 20px;
}

header button {
  margin: 10px 5px 0px 10px;
  font-size: 20px;
  background-color: #FF7700;
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Mulish";
  border-radius: 4px;
  cursor: pointer;

}

.login h2 {
  color: #FF7700;
  font-family: "Dancing Script";
  font-size: 40px;
  font-weight: bold;
}

.login button {
  font-size: 20px;
}

.login {
  background: #fff;
  padding: 20px 50px 50px 50px;
  margin: 50px;
  border-radius: 10px;
  font-size: 20px;
}

.signup h2 {
  color: #FF7700;
  font-family: "Dancing Script";
  font-size: 40px;
  font-weight: bold;
}

.signup button {
  font-size: 20px;
}

.publicitycheck {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.checkbox {
  width: 20px;
  margin-top: 21px;
  margin-right: 10px;
}

.signup {
  background: #fff;
  padding: 20px 50px 50px 50px;
  margin: 50px;
  border-radius: 10px;
  font-size: 20px;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 40px;
}

.homebuttons {
  display: flex;
  justify-content: center;
}

.clickedbutton, .clickedbutton2 {
  margin-left: 0px;
  margin-right: 50px;
  background-color: #fff;
  font-size: 18px;
  border: 0;
  color: #FF7700;
  border: solid;
  border-color: #FF7700;
  border-width: 2px;
  padding: 10px;
  font-family: "Mulish";
  border-radius: 3px;
  cursor: pointer;
}

.notclicked, .notclicked2 {
  margin-left: 0px;
  margin-right: 50px;
  background-color: #FF7700;
  font-size: 18px;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Mulish";
  border-radius: 4px;
  cursor: pointer;
}

.home 
.recipe-details {
  background: #fff;
  border-radius: 10px;
  width: 85%;
  margin: 20px auto;
  padding: 30px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.recipe-details h4 {
  margin: 0 0 15px 0;
  font-size: 40px;
  font-family: "Dancing Script";
  color: var(--primary);
}
.recipe-details p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
}

.dateposted {
  margin-top:15px;
  font-size: 18px;
  color:#FF7700;
  font-weight: bold;
}

.recipe-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

.recipeform {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 30px 30px 30px;
  margin-top: 20px;
  font-size: 18px;
}

.recipeform h2 {
  font-family: "Dancing Script";
  color: #FF7700;
  font-size: 40px;
}

.instructions, .ingredients {
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
}

.removebutton {
  margin-left: 10px;
  font-size: 15px;
  padding: 8px;
}

/* new recipe form */
label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  font-size: 18px;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Mulish";
  border-radius: 4px;
  cursor: pointer;
}

form textarea {
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}


div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

.errormessage {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}